body {
    background-color: #CCC;
    color: #7D7D7D;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

li {
    font-family: Verdana, sans-serif;
    padding: 20px 0 15px 15px;
}

li:hover {
    background-color: #7D7D7D;
    color: white;
}

html, body, #map-canvas {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    margin: 0;
}

#search-container{
    position: absolute;
    z-index: 3;
}

#search-nav {
    z-index: 1;
    width: 300px;
    max-height: 549px;
    background-color: rgba(256,256,256,.9);
    border: solid 2px #07c0f3;
    overflow: hidden;
}

#scroller {
    max-height: 480px;
    overflow: scroll;
    margin: 0 5px;
}

#input{
    margin: 15px 0 5px 20px;
    width: 83%;
    height: 35px;
    font-size: 17px;
    font-family: Verdana, sans-serif;
    color: #9D9D9D;
    border: none;
    -webkit-box-shadow: 2px 2px 5px #9D9D9D;
    outline: none;
}

#results {
    max-width: 300px;
    margin: 0;
    padding: 0;
}

#place {
    margin: 10px;
    padding: 10px;
    list-style: none;
    border: solid 2px #07c0f3;
}


@media only screen and (max-device-width : 959px), only screen and (max-width : 959px)  {

.app {
    flex-direction: column;
}


.search-box, .list {
    font-size: 1.5em;
}

}